body {
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: bisque;
}

/* Estilo galería */

.imagen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagen-gral {
    margin: 10px;
    text-align: center;
}

.imagen-gral img {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
    color: brown;
}

.imagen-description {
    font-size: 1em;
    color: bisque;
}

/* Media query pantallas menores a 600px*/

@media (max-width: 599px) {
    .imagen-gral {
        flex: 1 1 100%;
    }
}

/* Media query pantallas entre 600px y 999px*/

@media (min-width: 600px) and (max-width: 999px) {
    .imagen-gral {
        flex: 1 1 45%;
    }
    
}

/* Media query pantallas de 1000px*/

@media (min-width: 1000px) {
    .imagen-gral {
        flex: 1 1 30%;
    }
}